header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: white;
}

:root {
    --primary:#1e3a8a;
    --secondary:#f59e0b;
    --background:#f3f4f6;
    --text:#111827;
    --light:#ffffff;

    --font-main: Arial, sans-serif;
    --font-size-base: 16px;
}
body {
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    line-height: 1.6;
    background-color: var(--background);
    color: var(--text);
}

h1 {
    color: var(--light);
    padding: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}
h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}
p {
    font-size: 18px;
    font-weight: 400;
}

nav {
    display: flex;
}
nav a {
    color: var(--secondary);
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
  
}
  
.projects-container {
    display: flex;
    gap: 20px;
}

.project-card {
    background-color: var(--background);
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--text);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    box-sizing: content-box;
    transition: transform 0.2s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}
.box {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;

    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background: var(--primary);
    color: var(--light);
}

