header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background color: darkgrey;
}


body {
    font-family: Arial;
    background-color: #d3d3d3;
}

h1 {
    color: #ffffff;
    padding: 20px;
}

nav {
    display: flex;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  
}
  
.projects-container {
    display: flex;
}
